
.Inputbar{
       margin-top: 0.5rem;
       padding: 0.25rem;
       width: 100%;
       font-size: 1rem;
       box-shadow: 2px 2px 5px #000;
       border-radius: 0.25rem;
       outline: none;
}
form{
    width: 400px;
}